@charset "UTF-8";

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body {
    background: linear-gradient(to right, #49a09d, #5f2c82);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    width: 100vh;
    width: 100vw;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 8%);
    overflow: hidden;

    background-color: #ffffff;
    border: 0 solid transparent;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.308);
    width: 270px;
    height: 515px;
}

.imagem {
    background-image: url(../imagens/metal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 41%;
}

.formularios h1 {
    padding: 10px;
    text-align: center;
    font-size: 1.8em;
}

.formularios p {
    padding: 10px;
    font-size: 0.9em;
}